<app-header></app-header>
<div class="center">
  <div id="contenido" class="content">
    <div class="productos">
      <h1>{{ 'Producto: ' + nombreProducto }}</h1>

      <div *ngFor="let producto of listProdByCategoria" class="producto-card">

        <label for="nombre">{{globalText.name + ':'}}</label>
        <input id="nombre" [(ngModel)]="producto.nombre" placeholder="Nuevo nombre" class="input-field" />

        <label for="descripcion">{{globalText.description + ':'}}</label>
        <input id="descripcion" [(ngModel)]="producto.descripcion" placeholder="Nueva descripción"
          class="input-field" />

        <label for="precio">{{globalText.price + ':'}}</label>
        <input id="precio" [(ngModel)]="producto.precio" type="number" step="0.01" placeholder="Nuevo precio"
          class="input-field" />

        <label for="stock">{{globalText.stock + ':'}}</label>
        <input id="stock" [(ngModel)]="producto.stock" type="number" placeholder="Nuevo stock" class="input-field" />


        <button (click)="editarProducto(producto)" class="save-button">
          {{globalText.saveChanges}}
        </button>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>